<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">Recordstores 2021</span>
        <a href="/recordstores">All recordstores</a>
    </div>
</footer>