<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/home.css">
    <section id="home">
        <div id="home-colour">
            <h1>Welcome to Australian Recordstores</h1>
            <div>
                <p>A listing site containing information, reviews and images of record stores across Australia</p>
                <p>Photo by <a href="https://unsplash.com/@akshayspaceship?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Akshay Chauhan</a> on <a href="https://unsplash.com/s/photos/record-store-australia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
            </div>
        </div>
    </section>