<% layout('layouts/boilerplate') %>
    <form action="/recordstores" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="recordstore[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="recordstore[location]">
        </div>
        <button>Add record store</button>
        <a href="/recordstores">All recordstores</a>
    </form>